body {
    font-family: Arial;
    max-width: 600px;
    margin: 50px auto;
    background-color: black;
}

.container {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
}

li {
    padding: 10px;
    background: white;
    margin: 5px 0;
    border-radius: 5px;
}